.photo-grid {
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-row: auto;
  gap: 16px 16px;
  justify-content: center;
  max-width: 1184px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px 14px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    margin-bottom: 88px;
    gap: 16px 16px;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    margin-bottom: 64px;
    gap: 12px;
  }
}

