.cover__overlay {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1184px;
  padding-top: calc(50%*0.625 - 125px);
  padding-bottom: calc(50%*0.625 - 125px);
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover {
  opacity: 0.8;
}
