.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}


@media (max-width: 767px) {
  .cover {
    font-size: 32px;
    line-height: 109%;
    }
}
